.black{
    width: 20vw;
    font-size: 1.2rem; 
    display: none;
    margin-top: 50px;
    margin-left: 100px;
}
body{
    background-color: #2c3034;
    color: white;
}
.table{
    margin-top: 50px;
    margin-left: 100px;
    display: none;
    width: 720px;
    border: 3px solid white;
    color: white;
}
.table a {
    margin-top: 20px;
}
.imgAlumno{
    width: 60%;
    border-radius: 100%;
}
.MenuMovil{
    font-size: 1.2rem;
    width: 25vw;
    height: auto;
    display: none;
    position: absolute;
    left: 70%;
    top: 3vh;
    background-color: #2c3034;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
} 
.MenuMovil a{
    border-bottom: 1px solid white ;
}
.disable{
    display: block;
}
.manita:hover{
    cursor: pointer;
}
@media (min-width :990px) {
    .MenuMovil{
        display: none;
    }
}

@media (max-width :990px) {
    .table{
        width: 70%;
    }
    .black{
        width: 70%;
    }
}
